@charset "utf-8";
/* font - suit */
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:500;
	src:local(''),
		url('../fonts/SUIT-Medium.woff2') format('woff2'),
		url('../fonts/SUIT-Medium.ttf') format('truetype'),
		url('../fonts/SUIT-Medium.otf') format('otf');
}
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:600;
	src:local(''),
		url('../fonts/SUIT-SemiBold.woff2') format('woff2'),
		url('../fonts/SUIT-SemiBold.ttf') format('truetype'),
		url('../fonts/SUIT-SemiBold.svg') format('otf');
}
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:700;
	src:local(''),
		url('../fonts/SUIT-Bold.woff2') format('woff2'),
		url('../fonts/SUIT-Bold.ttf') format('truetype'),
		url('../fonts/SUIT-Bold.otf') format('otf');
}

/* reset */
*:focus{outline:none !important}
html,body{width:100%;height:100%;-webkit-touch-callout:none;-webkit-user-select:none;-webkit-text-size-adjust:none}
body {background-color:#2b2d3e}
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,table,th,td,pre,form,fieldset,legend,input,textarea,button,select,blockquote{margin:0;padding:0}
body,input,textarea,select,button,td,th,h1,h2,h3,h4,h5,h6{font-family:'SUIT','돋움',Dotum,arial,Helvetica,sans-serif;font-size:14px;color:#212529;font-weight:400;line-height:20px}
img,fieldset,button,iframe{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
address,caption,cite,code,dfn,em,var{font-style:normal}
table{width:100%;border-collapse:collapse;border-spacing:0}
caption{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
legend{display:block;overflow:hidden;visibility:hidden;position:absolute;top:-1000em;left:0}
button{border:0 none;background-color:transparent}
strong{font-weight:400}
img{vertical-align:top}
a{color:#1d1d1d;text-decoration:none}
a:hover,a:link,a:visited,a:active,a:focus{text-decoration:none}
input[type='text'],input[type='password'],input[type='number'],input[type='tel'],input[type='email'],input[type='date'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0}
button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0;cursor:pointer}
textarea {resize:none;}
a,button,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.hide{display:block;overflow:hidden;visibility:hidden;position:absolute;top:-1000em;left:0}
.bg_white {background-color:#fff;}
/* btn */
.btn_area {padding-top:32px;text-align:center;}
.btn_comm {display:inline-block;margin:0 2px;padding:0 32px;font-weight:500;text-align:center;border-radius:8px;white-space:nowrap;}
.btn_comm.btn_l {height:60px;line-height:60px;font-size:18px;}
.btn_comm.btn_m {height:52px;line-height:52px;font-size:16px;}
.btn_comm.btn_gray {color:#2b2d3e;background-color:#dee2e6;}
.btn_comm.btn_confirm {color:#fff;background-color:#2b2d3e;}
.btn_comm.btn_red {color:#fff;background-color:#f8485e;}
.btn_comm.btn_gray:hover {background-color:#d0d5db;}
.btn_comm.btn_confirm:hover {box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);}
.btn_comm.btn_red:hover {box-shadow: 0 8px 16px 0 rgba(248, 72, 94, 0.25);}
.btn_comm.btn_gray.disable {color:#adb5bd;cursor:default;} 
.btn_comm.btn_gray.disable:hover {background-color:#dee2e6;}
.btn_comm.btn_confirm.disable {color:#adb5bd;cursor:default;opacity:.4;} 
.btn_comm.btn_confirm.disable:hover {box-shadow:none;}
.btn_comm.btn_red.disable {color:#adb5bd;cursor:default;} 
.btn_comm.btn_red.disable:hover {box-shadow:none;}
/* input */
::-webkit-input-placeholder {color:#b5b5b5;}
/* input text */
.inp_area {overflow:hidden;display:flex;width:100%;border-radius:8px;border:1px solid #adb5bd;box-sizing:border-box;}
.inp_area.inp_focus {border-color:#212529;}
.inp_comm {flex:1;width:100%;padding:0 16px;font-size:16px;border:0 none;background-color:#fff;}
.inp_l {height:60px;}
.inp_m {height:52px;}
/* error text */
.txt_error {display:none;}
.error .txt_error {display:block;margin-top:8px;padding-left:4px;font-weight:500;font-size:14px;color:#f8485e;}
.error .inp_area {border-color:#f8485e;}
/* select box */
.select_area {margin-bottom:16px;}
.select_area:after {content:'';clear:both;display:block;}
.select_area label {display:block;margin-bottom:8px;font-size:14px;line-height:18px;}
.select_area .nice-select {width:100%;padding-right:40px;font-size:14px;line-height:52px;border-radius:8px;border-color:#adb5bd;}
.select_area .nice-select:after {right:24px;top:26px;width:9px;height:9px;border-color:#212529;}
.select_area .nice-select .list {width:100%;}
.select_area .nice-select .option.selected {font-weight:normal;}
.select_area .nice-select .current {display:block;overflow:hidden;width:calc(100vw - 100px);text-overflow:ellipsis;white-space:nowrap;}
.select_area .nice-select.disabled:after {border-color:#adb5bd;}
.select_area .nice-select.disabled {color:#adb5bd;border-color:#dee2e6;background-color:#f1f3f5;}
.select_area .nice-select.open {border-color:#212529;}
.select_area .nice-select.open .list {left:-1px;width:calc(100% + 2px);margin-top:8px;padding:8px 0;font-size:14px;border:1px solid #dee2e6;box-shadow: 0 12px 24px 0 rgba(51, 61, 75, 0.16);}
.select_area .nice-select.open .list li {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:calc(100vw - 96px);margin:0 8px;border-radius:8px;}

.select_area.select_camera .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_video2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_mic .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_microphone2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_speaker .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_volume-max2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_camera .nice-select.disabled .current:before {background:url(../img/Icon_video-slash2.svg) no-repeat 0 50%;}
.select_area.select_mic .nice-select.disabled .current:before {background:url(../img/Icon_microphone-slash2.svg) no-repeat 0 50%;}
.select_area.select_speaker .nice-select.disabled .current:before {background:url(../img/Icon_volume-xmark2.svg) no-repeat 0 50%;}

.select_l .nice-select.open .list {line-height:60px;}
.select_m .nice-select.open .list {line-height:52px;}
.select_l .nice-select.open .list li {height:60px;line-height:60px;}
.select_m .nice-select.open .list li {height:52px;line-height:52px;}
.select_l .nice-select {height:60px;}
.select_m .nice-select {height:52px;}
.select_m.select_camera .current:before,
.select_m.select_mic .current:before,
.select_m.select_speaker .current:before {margin-top:14px;}
/* tab */
.tab_area {position:relative;display:block;height:100%;}
.tab_area:after {content:'';clear:both;display:block;}
.tab_menu {position:relative;height:50px;}
.tab_menu:after {content:'';clear:both;display:block;}
.tab_menu li {float:left;width:50%;height:50px;box-sizing:border-box;border-bottom:1px solid #dee2e6;}
.tab_menu li a {display:block;width:100%;height:100%;font-size:16px;line-height:50px;text-align:center;}
.tab_menu li.on {border-bottom:2px solid #f8485e;}
.tab_menu li.on a {color:#f8485e;cursor:pointer;}
/* layout */
.wrap {position:relative;}
.wrap .txt_name {position:absolute;left:8px;bottom:8px;height:24px;padding:0 8px;font-weight:600;font-size:12px;line-height:24px;color:#fff;text-align:center;border-radius:18px;background-color:rgba(0, 0, 0, 0.4);}
.wrap .txt_me {background-color:#000;}
.header {position:fixed;top:0;left:0;z-index:2;width:100%;height:60px;background-color:#2b2d3e;}
.header .left {position:absolute;top:0;left:0;}
.header .right {position:absolute;top:0;right:0;}
.header .btn_prev {float:left;width:60px;height:60px;}
.header .btn_prev:after {content:'';display:inline-block;width:20px;height:20px;margin:20px;background:url('../img/prev.svg') no-repeat;}
.header .btn_close {float:left;width:60px;height:60px;}
.header .btn_close:after {content:'';display:inline-block;width:20px;height:20px;margin:20px;background:url('../img/close.svg') no-repeat;}
.header .btn_member {position:relative;float:left;width:60px;height:60px;}
.header .btn_member:after {content:'';display:inline-block;width:20px;height:20px;margin:20px;background:url('../img/people.svg') no-repeat;}
.header .btn_member .count {position:absolute;top:17px;left:38px;font-size:12px;color:#fff;line-height:14px;}
.header .tit {overflow:hidden;padding:18px 60px;font-size:16px;line-height:24px;font-weight:500;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.header .clock {display:flex;align-items:center;}
.header .ico_clock {display:inline-block;width:24px;height:24px;margin-right:4px;background:url(../img/icon_timer.svg) no-repeat 50% 50%;background-size:24px 24px;} 
.header .btn_time {display:inline-block;font-size:16px;vertical-align:top;line-height:24px;color:#6d7296;}
.header .left .btn_exit {display:inline-block;width:40px;height:40px;margin:10px 8px;border-radius:40px;background:url(../img/icon_exit.svg) no-repeat 50% 50%;background-size:24px 24px;}
.header .left .btn_exit:active {background-color:#000;}
.header .right .btn_toggle {display:inline-block;width:40px;height:40px;margin:10px 8px;border-radius:40px;background:url(../img/icon_menu.svg) no-repeat 50% 50%;background-size:24px 24px;}
.header .right .btn_toggle.on {background:#2b2d3e url(../img/Icon_xmark.svg) no-repeat 50% 50%;background-size:24px 24px;}
.header .right .btn_toggle:active,
.header .right .btn_toggle.on:active {background-color:#000;}
.header .right .btn_toggle.new:after {content:'';clear:both;display:inline-block;position:absolute;right:16px;top:18px;width:8px;height:8px;border-radius:100%;background-color:#f8485e;}
.header .right .btn_toggle.on.new:after {display:none;}
.content {position:relative;min-height:calc(100vh - 80px);padding:60px 0 20px 0;}
.video_area {width:100%;height:240px;padding:16px 0;}
.video_area .video {overflow:hidden;width:100%;height:100%;border-radius:8px;}
.set_controls {transition:all .2s ease-out;position:fixed;top:60px;left:0;display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:center;width:100%;height:0;background-color:rgba(43, 45, 62, 0.9);z-index:1;opacity:0;}
.set_controls.slide_down {transition:all .2s ease-out;transform:translate(0,0);height:72px;z-index:30;opacity:1;} 
.set_controls button {width:40px;height:40px;margin:16px 4px;border-radius:28px;}
.set_controls .camera {background:#000 url(../img/icon_video.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .camera.on {background:#f8485e url(../img/icon_video-slash.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .mic {background:#000 url(../img/Icon_microphone.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .mic.on {background:#f8485e url(../img/Icon_microphone-slash.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .audio {background:#000 url(../img/Icon_volume-max.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .audio.on {background:#f8485e url(../img/Icon_volume-xmark.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .chat {background:url(../img/Icon_message.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .chat:active {background-color:#2b2d3e;} 
.set_controls .member {background:url(../img/Icon_users.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .member:active {background-color:#2b2d3e;} 
.set_controls .codecopy {background:url(../img/Icon_code_copy.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .codecopy:active {background-color:#0c82e9;}
.set_controls .set {background:url(../img/Icon_gear.svg) no-repeat 50% 50%;background-size:24px 24px;}
.set_controls .set:active {background-color:#2b2d3e;}
.set_controls .disable {opacity:.3;}
/* main */
.wrap.main .content {padding:0;}
.wrap.main .service_area {padding:343px 24px 60px 24px;background:#fff url(../img/main_visual.svg) no-repeat 50% 40px;background-size:312px 262px;}
.wrap.main .tit {margin:0 0 24px 0;font-weight:600;font-size:32px;line-height:40px;letter-spacing:-0.72px;}
.wrap.main .code {display:flex;justify-content:flex-start;align-items:flex-start;width:100%;height:52px;}
.wrap.main .code .inp_area {display:flex;justify-content:flex-start;align-self:stretch;align-items:center;border-radius:8px 0 0 8px;border-right:0 none;}
.wrap.main .code .btn_gray {margin-left:-1px;color:#adb5bd;box-sizing:border-box;border-radius:0 8px 8px 0;border:1px solid #adb5bd;}
.wrap.main .btn_confirm {width:calc(100vw - 112px);margin:24px 0 0 0;}
.wrap.main .btn_confirm:before {content:'';display:inline-block;width:24px;height:100%;margin-right:8px;vertical-align:top;background:url(../img/Icon_plus-large.svg) no-repeat 50% 50%;background-size:24px 24px;}
.wrap.main .code.on .inp_area {border-color:#2b2d3e;}
.wrap.main .code.on .btn_gray {color:#2b2d3e;border-color:#2b2d3e;}
.wrap.main .error .code .inp_area {border-color:#f8485e;}
.wrap.main .error .btn_gray {border-color:#f8485e;}
.wrap.main .copyright {padding:32px 24px;background-color:#2b2d3e;}
.wrap.main .copyright h2 {width:116px;height:15px;margin-bottom:15px;background:url(../img/logo_copyright.svg) no-repeat 0 0;background-size:100% 100%;}
.wrap.main .copyright p {font-weight:500;font-size:12px;line-height:18px;color:rgba(255, 255, 255, 0.4);}
.wrap.main .txt_desc {margin-top:24px;}
.wrap.main .txt_desc p {font-weight:600;font-size:14px;line-height:20px;color:#868e96;}
.wrap.main .txt_desc a {display:inline-block;margin-top:4px;font-weight:600;font-size:14px;line-height:20px;color:#0c82e9;box-sizing:border-box;border-bottom:1px solid #0c82e9;}
.wrap.main .txt_desc a:after {content:'';display:inline-block;clear:both;width:7px;height:7px;margin:0 7px 0 5px;vertical-align:middle;border-bottom:1.5px solid #0c82e9;border-right:1.5px solid #0c82e9;transform:rotate(-45deg);}

/* 대기실 */
.wrap.hold .content {min-height:100%;padding:0;}
.wrap.hold .box_hold {width:calc(100vw - 32px);margin:0 auto;padding-bottom:80px;}
.wrap.hold .box_hold .video_area {padding:20px 0 24px 0;}
.wrap.hold .box_hold .video_area .inner {height:100%;}
.wrap.hold .btn_confirm {position:fixed;bottom:0;width:calc(100vw - 64px);margin:26px 0 0 0;border-radius:0;}
.wrap.type_student .video_area {height:calc(100vh - 92px);}
.wrap.type_student .video_area .inner {width:calc(100vw - 32px);}

/* 화상 */
.page_room .video {overflow:hidden;height:100%;border-radius:8px;background-color:#565c69;}
.page_room .video_area {position:fixed;left:0;top:60px;background-color:#2b2d3e;z-index:20;}
.page_room .video_area .inner {position:relative;width:328px;height:100%;margin:0 auto;text-align:center;border-radius:8px;background-color:#565c69;}
.page_room .video_area .inner .msg_share,
.page_room .video_area .inner .msg_whiteboard {display:flex;align-items:center;justify-content:center;position:absolute;left:0;top:0;width:100%;height:100%;border-radius:8px;background-color:rgba(0, 0, 0, 0.7);z-index:30;}
.page_room .video_area .inner .msg_share p,
.page_room .video_area .inner .msg_whiteboard p {text-align:center;font-size:14px;line-height:20px;color:#fff;}
.page_room .video_area.no_camera {overflow:hidden;}
.page_room .video_area.no_camera:after {content:'';clear:both;display:block;position:absolute;left:50%;top:50%;width:96px;height:96px;margin:-48px 0 0 -48px;border-radius:100%;background:rgba(0, 0, 0, 0.2) url(../img/Icon_no_video.svg) no-repeat 50% 50%;background-size:48px 48px;}
.page_room .video_area.no_camera img {display:none;}
.page_room .list_video {display:flex;flex-wrap:wrap;align-items:start;justify-content:center;width:328px;margin:0 auto;padding-top:272px;}
.page_room .list_video li {position:relative;width:160px;height:118px;margin-bottom:8px;}
.page_room .list_video li:nth-child(2n) {margin-left:8px;}
.page_room .list_video .no_camera img {display:none;}
.page_room .list_video .no_camera:after {content:'';clear:both;display:block;position:absolute;left:50%;top:50%;width:48px;height:48px;margin:-24px 0 0 -24px;border-radius:48px;background:rgba(0, 0, 0, 0.2) url(../img/Icon_no_video_s.svg) no-repeat 50% 50%;background-size:24px 24px;z-index:10;}
.page_room .list_video li.on .video {box-sizing:border-box;border:4px solid #f8485e;}

/* 채팅 */
.page_chatting {display:none;background-color:#fff;}
.page_chatting .header {border-bottom:1px solid #dee2e6;background-color:#fff;}
.page_chatting .header .tit {font-size:18px;}
.container_chatting {min-height:calc(100vh - 207px);padding:60px 0 147px 0;}
.chatting_board {padding:16px 16px 0 16px;}
.chatting_board .date_divider {margin-bottom:16px;}
.chatting_board .date_divider .date {font-size:10px;color:#868e96;line-height:18px;text-align:center;}
.chatting_board .msg_receive {display:flex;flex-wrap:nowrap;align-items:end;padding:0 28px 16px 0;}
.chatting_board .msg_receive .msg {padding:8px 16px;font-size:14px;color:#212529;line-height:20px;border-radius:16px 16px 16px 0;background-color:#ececec;}
.chatting_board .msg_receive .write {flex:1;margin-left:4px;font-size:10px;color:#868e96;line-height:16px;white-space:nowrap;}
.chatting_board .msg_send {display:flex;flex-wrap:nowrap;align-items:end;padding:0 0 16px 28px;}
.chatting_board .msg_send .msg {order:1;padding:8px 16px;border-radius:16px 16px 0 16px;background-color:#f8485e;font-size:14px;color:#fff;line-height:20px;}
.chatting_board .msg_send .write {flex:1;margin-right:4px;font-size:10px;color:#868e96;line-height:16px;text-align:right;white-space:nowrap;}
.chatting_ipts {position:fixed;bottom:0;left:0;z-index:1;width:100%;padding:8px 16px;border-top:1px solid #dee2e6;background-color:#fff;box-sizing:border-box;}
.chatting_ipts .ipt_txtarea {display:flex;align-items:end;padding:5px 8px 5px 16px;box-sizing:border-box;border:1px solid #dee2e6;border-radius:20px;background-color:#f1f3f5;}
.chatting_ipts .ipt_txtarea textarea {flex:1;width:100%;height:22px;padding:3px 0;border:0;background-color:transparent;font-size:14px;color:#1d1d1d;line-height:22px;transition:all .2s ease-out;}
.chatting_ipts .ipt_txtarea textarea:focus {height:110px;}
.chatting_ipts .ipt_txtarea .btn_upload {width:28px;height:28px;margin-left:8px;background:url('../img/icon_send_off.svg') no-repeat;}
.chatting_ipts .ipt_txtarea textarea:focus + .btn_upload {background:url('../img/icon_send_on.svg') no-repeat;}

/* 참여자 */
.page_member {display:none;min-height:100vh;background-color:#fff;}
.page_member .header {border-bottom:1px solid #dee2e6;background-color:#fff;}
.page_member .tit {font-size:18px;}
.page_member .tit .count {display:inline-bllock;vertical-align:middle;}
.meeting_member .member_list {padding-top:60px;}
.meeting_member .member_list li {display:flex;padding:8px 19px 8px 24px;}
.meeting_member .member_list .profile {position:relative;overflow:hidden;width:46px;height:46px;border-radius:23px;}
.meeting_member .member_list .profile .nick {display:block;overflow:hidden;padding:13px 2px;color:#fff;font-weight:700;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.meeting_member .member_list .profile img {position:absolute;top:0;left:50%;width:auto;height:100%;transform:translate(-50%,0);}
.meeting_member .member_list .name {display:flex;flex:1;overflow:hidden;padding:12px 10px 12px 0;font-size:16px;text-overflow:ellipsis;white-space:nowrap;}
.meeting_member .member_list .name .ellipsis {overflow:hidden;padding-right:4px;text-overflow:ellipsis;white-space:nowrap;}
.meeting_member .member_list .name .role {display:inline-block;vertical-align:middle;}
.meeting_member .member_list .controls {display:flex;}
.meeting_member .member_list .controls button {width:32px;height:32px;margin:0 6px;}
.meeting_member .member_list .controls button:after {content:'';display:inline-block;width:26px;height:26px;margin:10px;}
.meeting_member .member_list .controls .mic:after {background:url('../img/icon_mic_off.svg') no-repeat;}
.meeting_member .member_list .controls .mic.on:after {background:url('../img/icon_mic_on.svg') no-repeat;}
.meeting_member .member_list .controls .camera:after {background:url('../img/icon_camera_off.svg') no-repeat;}
.meeting_member .member_list .controls .camera.on:after {background:url('../img/icon_camera_on.svg') no-repeat;}
.meeting_member .member_list .own {padding-top:24px;font-weight:600;}

.pop_msg {position:fixed;top:0;left:0;display:flex;width:100%;align-items:center;justify-items:center;height:40px;background-color:#0c82e9;z-index:50;}
.pop_msg .txt {width:100%;font-weight:500;font-size:14px;line-height:24px;text-align:center;color:#fff;}

/* 설정 */
.page_set {display:none;background-color:#fff;}
.page_set .header {background-color:#fff;}
.page_set .header .tit {font-size:18px;}
.page_set .container {padding:60px 0 80px 0;}
.page_set .cont1 {padding:24px 24px 0 24px;}
.page_set label {display:block;margin-bottom:8px;font-size:14px;line-height:18px;}
.page_set .inp_comm {font-size:14px;}
.page_set .cont2 {display:none;padding:16px 16px 0 16px;}
.page_set .cont2 .video_area {overflow:hidden;position:relative;margin-bottom:24px;padding:0;border-radius:8px;background-color:#adb5bd;}
.page_set .cont2 .video_area .inner {height:100%;padding:0;}
.page_set .btn_area {display:flex;position:fixed;bottom:0;width:100%;}
.page_set .btn_area .btn_comm {width:50%;margin:0;border-radius:0;}
.page_set .video_area.no_camera:after {content:'';clear:both;display:block;position:absolute;left:50%;top:50%;width:68px;height:68px;margin:-34px 0 0 -34px;border-radius:100%;background:rgba(0, 0, 0, 0.2) url(../img/Icon_no_video.svg) no-repeat 50% 50%;background-size:32px 32px;}
.page_set .video_area.no_camera img {display:none;}

/* modal popup - 공통 */
body.modal_show {overflow:hidden;}
.modal {position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;overflow:hidden;display:none;height:100%;}
.modal_backdrop {position:absolute;top:0;right:0;left:0;height:100%;background-color:rgba(17, 17, 17, 0.8);}
.modal_dialog {position:relative;z-index:1000;opacity:0;width:calc(100vw - 32px);margin:0 auto;transition:all .2s ease-out;}
.modal.on .modal_dialog {opacity:1;}
.modal.slide_up .modal_dialog {transform:translate(0,100%);}
.modal.slide_up.on .modal_dialog {transform:translate(0,0);}
.modal.slide_down .modal_dialog {transform:translate(0,-100%);}
.modal.slide_down.on .modal_dialog {transform:translate(0,0);}
.modal .modal_content {border-radius:16px;background-color:#fff;}
.modal .modal_container {padding-bottom:32px;}
.modal .modal_header {position:relative;}
.modal .modal_header .btn_close {position:absolute;top:0;right:0;width:56px;height:56px;z-index:1000;}
.modal .modal_header .btn_close:after {content:'';display:block;width:100%;height:100%;background:url('../img/Icon_xmark-large.svg') no-repeat 50% 50%;background-size:24px 24px;}
.modal .txt_area {padding:56px 32px 0 32px;font-size:16px;line-height:24px;}
.modal .header_title {height:36px;padding:32px 64px 16px 32px;}
.modal .header_title .tit {font-weight:600;font-size:26px;}
.modal .header_title .btn_close {width:84px;height:84px;}
.modal .header_title + .modal_container .txt_area {padding-top:0;}
.modal .tab_cont {padding:24px 32px 32px 32px;}

/* modal - 비밀번호 입력 */
.modal_pw.on {display:block;}
.modal_pw.on .modal_dialog {top:50%;margin-top:-170px;}
.modal_pw .inp_area {margin-top:16px;}
.modal_pw .txt_error {margin-top:0px;}

/* modal - 에러발생 */
.modal_error.on {display:block;}
.modal_error.on .modal_dialog {top:50%;margin-top:-110px;}

/* modal - 권장사양 */
.modal_desc .modal_dialog {max-width:calc(100vw - 32px);}
.modal_desc .modal_container {overflow-y:auto;max-height:calc(100vh - 230px);}
.modal_desc .header_title {padding-left:24px;}
.modal_desc .txt_area {padding:56px 24px 70px 24px;}
.modal_desc .tbl_type1 {margin-bottom:8px;border-top:1px solid #dee2e6;background-color:#fff;}
.modal_desc .tbl_type1 th,
.modal_desc .tbl_type1 td {height:32px;padding:4px 12px 3px 12px;font-size:12px;line-height:16px;color:#333;text-align:center;vertical-align:middle;}
.modal_desc .tbl_type1 th {border-bottom:1px solid #dee2e6;background-color:#f8f8f8;}
.modal_desc .tbl_type1 td {border-bottom:1px solid #dee2e6;background-color:#fff;}
.modal_desc .tit {display:block;padding:8px 0;font-weight:600;font-size:14px;}
.modal_desc .txt {margin-bottom:8px;font-size:12px;line-height:16px;color:#868e96;}
.modal_desc .point_c {color:#f8485e;}
.modal_desc .link {color:#0c82e9;}
.modal_desc .btn_area {position:absolute;bottom:0;width:100%;padding:24px 0;border-radius:0 0 16px 16px;background-color:#fff;}