@charset "utf-8";
/* font - suit */
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:500;
	src:local(''),
		url('../fonts/SUIT-Medium.woff2') format('woff2'),
		url('../fonts/SUIT-Medium.ttf') format('truetype'),
		url('../fonts/SUIT-Medium.otf') format('otf');
}
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:600;
	src:local(''),
		url('../fonts/SUIT-SemiBold.woff2') format('woff2'),
		url('../fonts/SUIT-SemiBold.ttf') format('truetype'),
		url('../fonts/SUIT-SemiBold.svg') format('otf');
}
@font-face {
	font-family:'SUIT';font-style:normal;font-weight:700;
	src:local(''),
		url('../fonts/SUIT-Bold.woff2') format('woff2'),
		url('../fonts/SUIT-Bold.ttf') format('truetype'),
		url('../fonts/SUIT-Bold.otf') format('otf');
}

/* reset */
html,body{height:100%;min-height:100%;-webkit-touch-callout:none;-webkit-user-select:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
body{font-family:'SUIT', sans-serif;font-style:normal;font-size:16px;color:#212529;background-color:#fff;word-break:keep-all;-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;}
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,table,th,td,pre,form,fieldset,legend,input,textarea,button,select,blockquote,strong{margin:0;padding:0;font-weight:normal;}
input,textarea,select,button,td,th,h1,h2,h3,h4,h5,h6{font-size:12px;color:#212529;outline:none;}
img,fieldset,button,iframe{border:0 none;}
dl,ul,ol,menu,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
hr{display:none;}
caption{visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
legend{display:block;overflow:hidden;visibility:hidden;position:absolute;top:-1000em;left:0;}
button{border:0 none;background-color:transparent;}
img{vertical-align:top;}
a{display:inline-block;color:#212529;text-decoration:none;cursor:pointer;}
a:hover,a:link,a:visited,a:active,a:focus{text-decoration:none;}
input[type=text],input[type=password],input[type=submit],input[type=search]{-webkit-appearance:none;border-radius:0;}
button,input[type=button],input[type=submit],input[type=reset],input[type=file]{-webkit-appearance:button;border-radius:0;}
.hide {visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;text-indent:-9999em;font:0/0 arial;}
.hidden_obj {display:none !important;}
select {display:none;} /* 로딩시 깜빡임 제거 */
input[type=text]:-ms-clear,
input[type=search]:-ms-clear,
input[type=password]:-ms-reveal{display:none;width:0;height:0;} /* for ie input x 제거 */
/* placeholder for ie */
::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.27) !important;}
input::placeholder {color:rgba(0, 0, 0, 0.27) !important;}
:-moz-placeholder {color:rgba(0, 0, 0, 0.27) !important;}
::-moz-placeholder {color:rgba(0, 0, 0, 0.27) !important;}
:-ms-input-placeholder {color:rgba(0, 0, 0, 0.27) !important;}
.placeholder {color:rgba(0, 0, 0, 0.27) !important;}
/* btn */
.btn_area {padding-top:32px;text-align:center;}
.btn_comm {display:inline-block;margin:0 2px;padding:0 32px;font-weight:500;text-align:center;border-radius:8px;white-space:nowrap;}
.btn_comm.btn_l {height:60px;line-height:60px;font-size:18px;}
.btn_comm.btn_m {height:52px;line-height:52px;font-size:16px;}
.btn_comm.btn_s {height:36px;line-height:36px;font-size:14px;}
.btn_comm.btn_etc {height:48px;line-height:48px;font-size:16px;border-radius:100px;}
.btn_comm.btn_gray {color:#2b2d3e;background-color:#dee2e6;}
.btn_comm.btn_confirm {color:#fff;background-color:#2b2d3e;}
.btn_comm.btn_red {color:#fff;background-color:#f8485e;}
.btn_comm.btn_gray:hover {background-color:#d0d5db;}
.btn_comm.btn_confirm:hover {box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);}
.btn_comm.btn_red:hover {box-shadow: 0 8px 16px 0 rgba(248, 72, 94, 0.25);}
.btn_comm.btn_gray.disable {color:#adb5bd;cursor:default;} 
.btn_comm.btn_gray.disable:hover {background-color:#dee2e6;}
.btn_comm.btn_confirm.disable {color:#adb5bd;cursor:default;opacity:.4;} 
.btn_comm.btn_confirm.disable:hover {box-shadow:none;}
.btn_comm.btn_red.disable {color:#adb5bd;cursor:default;} 
.btn_comm.btn_red.disable:hover {box-shadow:none;}
/* input text */
.inp_area {overflow:hidden;display:flex;width:100%;border-radius:8px;border:1px solid #adb5bd;box-sizing:border-box;}
.inp_area.inp_focus {border-color:#212529;}
.inp_comm {flex:1;width:100%;padding:0 16px;font-size:16px;border:0 none;background-color:#fff;}
.inp_l {height:60px;}
.inp_m {height:52px;}
/* select box */
.select_area {margin-bottom:16px;}
.select_area:after {content:'';clear:both;display:block;}
.select_area label {display:block;margin-bottom:8px;font-size:14px;line-height:18px;}
.select_area .nice-select {width:100%;height:60px;padding-right:40px;font-size:16px;line-height:60px;border-radius:8px;border-color:#adb5bd;}
.select_area .nice-select:after {right:24px;top:26px;width:9px;height:9px;border-color:#212529;}
.select_area .nice-select .list {width:100%;}
.select_area .nice-select .option.selected {font-weight:normal;}
.select_area .nice-select .current {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;}
.select_area .nice-select.disabled:after {border-color:#adb5bd;}
.select_area .nice-select.disabled {color:#adb5bd;border-color:#dee2e6;background-color:#f1f3f5;}
.select_area .nice-select.open {border-color:#212529;}
.select_area .nice-select.open .list {left:-1px;width:calc(100% + 2px);margin-top:8px;padding:8px 0;font-size:16px;line-height:60px;border:1px solid #dee2e6;box-shadow: 0 12px 24px 0 rgba(51, 61, 75, 0.16);}
.select_area .nice-select.open .list li {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:60px;margin:0 8px;border-radius:8px;line-height:60px;}

.select_area.select_camera .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_video2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_mic .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_microphone2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_speaker .current:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:17px 10px 0 0;vertical-align:top;background:url(../img/Icon_volume-max2.svg) no-repeat 0 50%;background-size:24px 24px;}
.select_area.select_camera .nice-select.disabled .current:before {background:url(../img/Icon_video-slash2.svg) no-repeat 0 50%;}
.select_area.select_mic .nice-select.disabled .current:before {background:url(../img/Icon_microphone-slash2.svg) no-repeat 0 50%;}
.select_area.select_speaker .nice-select.disabled .current:before {background:url(../img/Icon_volume-xmark2.svg) no-repeat 0 50%;}
/* tab */
.tab_area {position:relative;display:block;height:100%;}
.tab_area:after {content:'';clear:both;display:block;}
.tab_menu {position:relative;height:50px;}
.tab_menu:after {content:'';clear:both;display:block;}
.tab_menu li {float:left;width:50%;height:50px;box-sizing:border-box;border-bottom:1px solid #dee2e6;}
.tab_menu li a {display:block;width:100%;height:100%;line-height:50px;text-align:center;}
.tab_menu li.on {border-bottom:2px solid #f8485e;}
.tab_menu li.on a {color:#f8485e;cursor:pointer;}
/* error text */
.txt_error {display:none;}
.error .txt_error {display:block;margin-top:8px;padding-left:4px;font-weight:500;font-size:14px;color:#f8485e;}
.error .inp_area {border-color:#f8485e;}
/* layout */
.wrap:after {content:'';clear:both;display:block;}
.wrap_content {position:relative;margin-left:80px;background-color:#ececec;}
.wrap .txt_name {position:absolute;left:8px;bottom:8px;height:24px;padding:0 8px;font-weight:600;font-size:12px;line-height:24px;color:#fff;text-align:center;border-radius:18px;background-color: rgba(0, 0, 0, 0.4);}
.wrap .txt_me {background-color:#000;}
.wrap .no_camera img {display:none;}
.content {padding:96px 0 24px 24px;}
.video_area {position:relative;height:100%;margin-bottom:24px;}
.video_area.no_camera {overflow:hidden;}
.video_area.no_camera:after {content:'';clear:both;display:block;position:absolute;left:50%;top:50%;width:200px;height:200px;margin:-100px 0 0 -112px;border-radius:100%;z-index:10;background:rgba(0, 0, 0, 0.2) url(../img/Icon_no_video.svg) no-repeat 50% 50%;background-size:100px 100px;}
.video_area .inner {overflow:hidden;height:100%;padding-right:24px;text-align:center;border-radius:8px;}
.video_area .inner .video {overflow:hidden;width:100%;height:100%;border-radius:8px;background-color:#adb5bd;}
/* lnb */
.lnb_area {position:relative;float:left;width:80px;background-color:#2b2d3e;z-index:20;}
.lnb_area li {width:48px;height:48px;margin:0 auto 16px auto;border-radius:48px;}
.lnb_area li a {display:block;width:48px;height:48px;border-radius:48px;text-align:center;}
.lnb_area li.disable a {cursor:default;}
.lnb_area .menu1 {margin-top:25px;}
.lnb_area .menu1:after {content:'';clear:both;display:block;height:1px;width:15px;margin:15px auto;background-color:#fff;opacity:.2;}
.lnb_area .menu1 li.on {background-color:#fff;}
.lnb_area .menu1 li .m1 {background:url(../img/icon_face-smile.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li .m2 {background:url(../img/Icon_monitor.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li .m3 {background:url(../img/Icon_pen-square.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.on .m1 {background:url(../img/icon_face-smile_on.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.on .m2 {background:url(../img/Icon_monitor_on.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.on .m3 {background:url(../img/Icon_pen-square_on.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.disable .m1 {background:url(../img/icon_face-smile_inactive.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.disable .m2 {background:url(../img/Icon_monitor_inactive.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li.disable .m3 {background:url(../img/Icon_pen-square_inactive.svg) no-repeat 50% 50%;}
.lnb_area .menu1 li a:hover {background-color:rgba(0, 0, 0, 0.15) !important;} 
.lnb_area .menu1 li.on a:hover {background-color:#fff !important;}
.lnb_area .menu1 li.disable.on,
.lnb_area .menu1 li.disable a:hover {background-color:#2b2d3e !important;} 

.lnb_area .menu2 li {background-color:#f8485e;}
.lnb_area .menu2 li .m1 {background:url('../img/icon_video_off.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li .m2 {background:url('../img/icon_microphone_off.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li .m3 {background:url('../img/icon_volume_off.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.on {background-color:#000;}
.lnb_area .menu2 li.on .m1 {background:url('../img/icon_video.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.on .m2 {background:url('../img/icon_microphone.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.on .m3 {background:url('../img/icon_volume.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.disable {background-color:#2b2d3e !important;}
.lnb_area .menu2 li.disable .m1 {background:url('../img/icon_video_inactive.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.disable .m2 {background:url('../img/icon_microphone_inactive.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.disable .m3 {background:url('../img/icon_volume_inactive.svg') no-repeat 50% 50%;}
.lnb_area .menu2 li.disable a {background-color:rgba(0, 0, 0, 0.15)!important;}

.lnb_area .menu3 {position:absolute;left:50%;bottom:80px;width:48px;margin-left:-24px;}
.lnb_area .menu3 li .m1 {background:url('../img/icon_code_copy.svg') no-repeat 50% 50%;}
.lnb_area .menu3 li .m2 {background:url('../img/icon_gear.svg') no-repeat 50% 50%;}
.lnb_area .menu3 li .m1:hover {background:url('../img/icon_code_copy_hover.svg') no-repeat 50% 50%;}
.lnb_area .menu3 li .m2:hover {background:url('../img/icon_gear_hover.svg') no-repeat 50% 50%;}
.lnb_area .menu3 li a:hover {background-color:rgba(0, 0, 0, 0.15)!important;}
.lnb_area .menu3 li .m1:active {background:#0c82e9 url('../img/icon_code_copy_active.svg') no-repeat 50% 50% !important;}
.lnb_area .menu3 li .m2:active {background:#000 url('../img/icon_gear_active.svg') no-repeat 50% 50% !important;}

.lnb_area .btn_exit {position:absolute;bottom:25px;left:50%;width:48px;height:48px;margin-left:-24px;border-radius:48px;background:url(../img/icon_exit.svg) no-repeat 50% 50%;}
.lnb_area .btn_exit:hover {background-color:rgba(0, 0, 0, 0.15)!important;}
.lnb_area .btn_exit:active {background:#f8485e url(../img/icon_exit_active.svg) no-repeat 50% 50% !important;}

/* content */
.btn_time {position:absolute;left:24px;top:25px;height:48px;padding:0 20px;text-align:center;font-weight:500;font-size:18px;line-height:48px;color:#212529;border-radius:40px;background-color:#fff;}
.btn_time:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:-3px 8px 0 0;line-height:48px;vertical-align:middle;background:url(../img/Icon_timer.svg) no-repeat 50% 50%;} 
.pop_msg {position:absolute;top:24px;left:0;width:calc(100% - 24px);margin-right:24px;text-align:center;z-index:50;}
.pop_msg .txt {display:inline-block;height:48px;padding:0 20px;font-weight:600;font-size:16px;line-height:48px;color:#fff;border-radius:100px;background-color:#0c82e9;}
.pop_msg .txt:before {content:'';display:inline-block;width:24px;height:24px;margin:-3px 8px 0 0;line-height:48px;vertical-align:middle;background:url(../img/Icon_code_copy_active.svg) no-repeat 50% 50%}

/* snb */
.snb_area {position:relative;z-index:20;float:right;width:0;height:100%;transition: all .3s ease-out;box-sizing:border-box;box-shadow:4px 4px 16px 0 rgba(0, 0, 0, 0.15);background-color:#fff;}*
.snb_area .btn_toggle {position:absolute;top:0;left:-50px;width:50px;height:50px;color:#fff;font:0/0 arial;background:#2b2d3e url(../img/Icon_menu.svg) no-repeat 50% 50%;background-size:24px 24px;cursor: pointer;}
.snb_area .btn_toggle.new:after {content:'';clear:both;display:inline-block;position:absolute;right:13px;top:13px;width:8px;height:8px;border-radius:100%;background-color:#f8485e;}
.snb_area .tab_area {display:none;}
.snb_area.m_type2 {width:320px;transition: all .3s ease-out;}
.snb_area.m_type2 .btn_toggle {left:-50px;display:block;margin:0 auto;background:#2b2d3e url(../img/Icon_xmark.svg) no-repeat 50% 50%;}
.snb_area.m_type2 .btn_toggle.new:after {display:none;}
.snb_area.m_type2 .tab_area {overflow:hidden;position:relative;display:block;height:100%;}

.snb_area .chat_box {overflow-x:hidden;overflow-y:scroll;height:calc(100vh - 88px);}
.snb_area .chat_box .chat_item {padding:16px 16px 50px 16px;}
.snb_area .chat_box .chat_item:after {content:'';clear:both;display:block;}
.snb_area .chat_box .chat_item .item {margin-bottom:16px;}
.snb_area .chat_box .chat_item .item:after {content:'';clear:both;display:block;}
.snb_area .chat_box .chat_item .name {display:inline-block;margin:0 20px 8px 0;font-weight:600;font-size:12px;color:#212529;}
.snb_area .chat_box .chat_item .time {display:inline-block;margin-bottom:8px;font-size:12px;color:#868e96;}
.snb_area .chat_box .chat_item .msg {font-weight:500;font-size:14px;line-height:18px;color:#212529;}
.snb_area .chat_box .chat_item .user_1 {clear:both;float:left;max-width:222px;margin-bottom:4px;font-size:12px;padding:8px 12px;border-radius:8px;background-color:#f1f3f5;}
.snb_area .chat_box .chat_item .user_2 {clear:both;float:right;max-width:222px;margin-bottom:4px;text-align:left;font-size:12px;padding:8px 12px;border-radius:4px;color:#fff;background-color:#f8485e;}
.snb_area .chat_box .chat_item .user_2 .time {color:#fff;opacity:.6;}
.snb_area .chat_box .chat_item .user_2 .msg {color:#fff;}
.snb_area .inp_box {position:absolute;bottom:0;right:0;width:320px;z-index:1;background-color:#fff;}
.snb_area .inp_box .inner {display:flex;align-items:end;padding:10px 12px;background-color:#fff;}
.snb_area .inp_box textarea {flex:1;width:100%;height:20px;padding:10px 8px;font-size:14px;line-height:20px;color:#1d1d1d;transition: all .2s ease-out;border:1px solid transparent;border-radius:4px;background-color:#f1f3f5;resize:none;}
.snb_area .inp_box textarea:focus {height:58px;color:#212529;border-color:#2b2d3e;}
.snb_area .inp_box .btn_send {display:none;}
.snb_area .tab_cont {height:100%;}

/* 참여자 */
.meeting_member {overflow-x:hidden;overflow-y:scroll;height:calc(100vh - 24px);}
.meeting_member .member_list {padding:24px;}
.meeting_member .member_list li {display:flex;padding:8px 0;}
.meeting_member .member_list .name {display:flex;flex:1;overflow:hidden;padding:2px 10px 2px 12px;font-weight:500;font-size:14px;line-height:32px;color:#343a40;text-overflow:ellipsis;white-space:nowrap;}
.meeting_member .member_list .name .ellipsis {overflow:hidden;padding-right:4px;text-overflow:ellipsis;white-space:nowrap;}
.meeting_member .member_list .name .role {display:inline-block;vertical-align:middle;}
.meeting_member .member_list .controls {display:flex;width:72px;height:32px;}
.meeting_member .member_list .controls button {width:32px;height:32px;margin:0 4px;}
.meeting_member .member_list .controls button:after {content:'';display:inline-block;width:24px;height:24px;margin:4px;}
.meeting_member .member_list .controls .mic:after {background:url('../img/mic_off.svg') no-repeat;}
.meeting_member .member_list .controls .mic.on:after {background:url('../img/mic_on.svg') no-repeat;}
.meeting_member .member_list .controls .camera:after {background:url('../img/camera_off.svg') no-repeat;}
.meeting_member .member_list .controls .camera.on:after {background:url('../img/camera_on.svg') no-repeat;}
.meeting_member .member_list .own {font-weight:600;}
/* swiper custom */
.mySwiper {height:180px;}
.mySwiper .swiper-wrapper {text-align:center;white-space:nowrap;}
.mySwiper .swiper-slide {overflow:hidden;position:relative;display:inline-block;width:320px;height:100%;text-align:center;justify-content:center;align-items:center;border-radius:10px;background-color:#adb5bd;}
.mySwiper .swiper-slide img {width:100%;height:100%;object-fit:cover;}
.mySwiper .no_camera:after {content:'';clear:both;display:block;position:absolute;left:50%;top:50%;width:68px;height:68px;margin:-34px 0 0 -34px;border-radius:68px;background:rgba(0, 0, 0, 0.2) url(../img/Icon_no_video_s.svg) no-repeat 50% 50%;background-size:32px 32px;}
.mySwiper .inner_box {overflow:hidden;height:100%;border-radius:8px;box-sizing:border-box;}
.mySwiper .inner_box.on {border:4px solid #f8485e;}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {top:50%;margin-top:-40px;width:80px;height:80px;color:#fff;}
.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {content:'';}
.mySwiper .swiper-button-prev {background:url(../img/Icon_chevron-left.svg) no-repeat 50% 50%;}
.mySwiper .swiper-button-next {background:url(../img/Icon_chevron-right.svg) no-repeat 50% 50%;}

/* main */
.wrap.main .wrap_content {margin-left:0;background-color:#fff;}
.wrap.main .content {display:flex;height:100%;align-items:center;padding:0;}
.wrap.main .content:before {content:'';position:absolute;left:0;top:0;display:block;clear:both;width:100%;height:100%;background-image:url(../img/flower.svg), url(../img/triangle.svg), url(../img/rectangle.svg);background-repeat:no-repeat;background-position:415px -60px, 115px 114%, 100% 90%;background-size:240px 240px, 268px 291px, 146px 146px;}
.wrap.main .service_area {position:relative;min-height:440px;margin:0 auto;padding-right:604px;background:url(../img/main_visual1.svg) no-repeat 100% 50%;background-size:524px 440px;}
.wrap.main .service_area .tit {margin:61px 0 24px 0;font-weight:600;font-size:36px;line-height:40px;letter-spacing:-0.72px;}
.wrap.main .item_box {width:596px;height:60px;display:flex;justify-content:flex-start;align-items:flex-start;padding:0;}
.wrap.main .tit {margin:158px 0 24px 0;font-weight:600;font-size:36px;line-height:40px;}
.wrap.main .btn_confirm {display:flex;margin-left:10px;}
.wrap.main .btn_confirm:before {content:'';display:flex;align-items:center;justify-content:flex-start;width:24px;height:100%;margin-right:8px;background:url(../img/Icon_plus-large.svg) no-repeat 50% 50%;background-size:24px 24px;}
.wrap.main .code {display:flex;justify-content:flex-start;align-items:flex-start;width:427px;height:60px;}
.wrap.main .code .inp_area {display:flex;justify-content:flex-start;align-self:stretch;align-items:center;border-radius:8px 0 0 8px;border-right:0 none;}
.wrap.main .code .btn_gray {margin-left:-1px;color:#adb5bd;box-sizing:border-box;border-radius:0 8px 8px 0;border:1px solid #adb5bd;}
.wrap.main .code.on .inp_area {border-color:#2b2d3e;}
.wrap.main .code.on .btn_gray {color:#2b2d3e;border-color:#2b2d3e;}
.wrap.main .error .code .inp_area {border-color:#f8485e;}
.wrap.main .error .btn_gray {border-color:#f8485e;}

/* 대기실 */
.wrap.hold .wrap_content {margin-left:0;background-color:#fff;}
.wrap.hold .content {display:flex;height:100%;align-items:center;justify-content:center; padding:0;}
.wrap.hold .video_area {margin-bottom:32px;}
.wrap.hold .video_area .inner {padding-right:0;}
.wrap.hold .box_hold {width:480px;margin-bottom:32px;}
.wrap.hold .box_hold .tit {margin-bottom:24px;font-weight:bold;font-size:24px;line-height:32px;}
.wrap.hold .btn_confirm {display:block;width:416px;}

/* 화면공유 */
.wrap_share {}
.wrap_share .content {height:calc(100vh - 120px);}
.wrap_share .btn_etc {position:absolute;left:50%;margin:24px 0 0 -92px;}
.wrap_share .btn_etc:before {content:'';clear:both;display:inline-block;width:24px;height:24px;margin:-3px 11px 0 0;vertical-align:middle;background:url(../img/Icon_monitor_x.svg) no-repeat 50% 50%;background-size:24px 24px;}



/* modal popup - 공통 */
body.modal_show {overflow:hidden;}
.modal {position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;overflow:hidden;display:none;height:100%;}
.modal_backdrop {position:absolute;top:0;right:0;left:0;height:100%;background-color:rgba(17, 17, 17, 0.8);}
.modal_dialog {position:relative;z-index:1000;opacity:0;width:420px;margin:0 auto;transition:all .2s ease-out;}
.modal.on .modal_dialog {opacity:1;}
.modal.slide_up .modal_dialog {transform:translate(0,100%);}
.modal.slide_up.on .modal_dialog {transform:translate(0,0);}
.modal.slide_down .modal_dialog {transform:translate(0,-100%);}
.modal.slide_down.on .modal_dialog {transform:translate(0,0);}
.modal .modal_content {border-radius:16px;background-color:#fff;}
.modal .modal_container {padding-bottom:32px;}
.modal .modal_header {position:relative;}
.modal .modal_header .btn_close {position:absolute;top:0;right:0;width:56px;height:56px;}
.modal .modal_header .btn_close:after {content:'';display:block;width:100%;height:100%;background:url('../img/Icon_xmark-large.svg') no-repeat 50% 50%;background-size:24px 24px;}
.modal .txt_area {padding:56px 32px 0 32px;font-size:18px;line-height:28px;}
.modal .header_title {height:36px;padding:32px 64px 16px 32px;}
.modal .header_title .tit {font-weight:600;font-size:26px;}
.modal .header_title .btn_close {width:84px;height:84px;}
.modal .header_title + .modal_container .txt_area {padding-top:0;}
.modal .tab_cont {padding:24px 32px 32px 32px;}

/* modal - 설정 */
.modal_set .modal_content {margin-top:50px;}
.modal_set label {display:block;margin-bottom:8px;font-size:14px;line-height:18px;}
.modal_set .tab_cont {padding-bottom:0;}
.modal_set .cont2 {display:none;}
.modal_set .cont2 .video_area {margin-bottom:16px;}
.modal_set .cont2 .video_area .inner {padding-right:0;}

/* modal - 비밀번호 입력 */
.modal_pw.on {display:block;}
.modal_pw.on .modal_dialog {top:50%;margin-top:-170px;}
.modal_pw .inp_area {margin-top:16px;}
.modal_pw .txt_error {margin-top:0px;}

/* 미디어쿼리 */
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {

} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {

} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  .wrap_snb {position:fixed;right:0;top:0;height:50px;padding-left:50px;z-index:20;}
}